p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero {
    width: 100%;
    height: 250px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 1%;
    margin-bottom: 1%;
}

.hero h1 {
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: rgba(5, 51, 111, 0.897);
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}

.top, .middle, .bottom {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  align-items: center;
  width: 100%;
}

.top img {
  width: 60%;
  height: auto;
  border: 10px solid black;
  margin: 1%;
}

.bottom img {
  width: 60%;
  height: auto;
  border: 10px solid black;
  margin: 1%;
}

.mid-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.middle {
  margin: 0.4%;
  padding-left: 8%;
  padding-top: 1%;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 25px;
}

.intro article {
  background-color: rgba(4, 4, 4, 0.869);
  border: 10px solid rgb(60, 101, 128);
  color: white;
  padding-top: 15%;
  margin: 1%;
}

.paragraph1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  font-size: 25px;
}

.paragraph1 article {
  background-color: rgba(4, 4, 4, 0.869);
  border: 10px solid rgb(60, 101, 128);
  color: white;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
}

.paragraph2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  font-size: 25px;
}

.paragraph2 article {
  background-color: rgba(4, 4, 4, 0.869);
  border: 10px solid rgb(60, 101, 128);
  color: white;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
}

.paragraph3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  font-size: 25px;
}

.paragraph3 article {
  background-color: rgba(4, 4, 4, 0.869);
  border: 10px solid rgb(60, 101, 128);
  color: white;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
}

.paragraph6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  font-size: 25px;
}

.paragraph6 article {
  background-color: rgba(4, 4, 4, 0.869);
  border: 10px solid rgb(60, 101, 128);
  color: white;
  padding-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 1%;
}

.ref-title {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
}

.references {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #0a7c86b0;
    padding: 2%;
    height: 150px;
}

.references a {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.references img {
  height: auto;
  width: 50px;
  padding: 5px;
}

.team-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 1%;
  margin-bottom: 1%;
}
.teamInfo img {
    border-radius: 50%;
    padding: 5px;
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
}

.teamInfo {
    background-color: #151414b0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4%;
}

.teamInfo h3 {
   text-align: center;
   color: rgb(253, 253, 253);
}

footer {
  text-align: center;
}

footer p {
  font-family: cursive;
}